/*footer*/
footer {
  background-color: $verde;
  margin-top: 1em;
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__img {
      display: flex;
      align-items: center;
      img {
        width: 3rem;
      }
    }

    &__redes {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .redes {
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        li {
          margin-left: 10px;
          a {
            padding: 10px;
            margin: 10px;
            text-decoration: none;
            i {
              padding: 0.25em;
              font-size: 2.5em;
              color: black;
            }
          }
        }
      }
    }
  }
}
/*footer mobile*/
@media screen and (max-width: 420px) {
  .footer-container {
      &__img{
        display: none;
        img {
          display: none;
        }
      }
      &__redes{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
  }

}





